<!DOCTYPE html>
<html>
  <head>
    <title>Robin's Hood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
    window.logoURL = "<%= image_url('logo-green.png') %>";
    window.signupURL = "<%= image_url('signup.png') %>";
    window.home1URL = "<%= image_url('home-1.png') %>";
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
