<!DOCTYPE html>
<html>
  <head>
    <title>Robin's Hood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <script type="text/javascript">
    window.signupURL = "<%= image_url('signup.png') %>";
    window.home1URL = "<%= image_url('home-1.png') %>";
    window.logoutURL = "<%= image_url('logout.png') %>";
    window.rbgURL = "<%= image_url('rbg.png') %>";
    window.rbg2URL = "<%= image_url('rbg2.png') %>";
    
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
